<div class="container">
  <div class="post" data-id="{{id}}">
    <h2>{{post.title}}</h2>
    <div class="author-date">{{date}}</div>
  </div>
  <div>
    <form id="comment-post-form">
    <div class="form-group">
      <label for="title">Title:</label>
      <input type="text" id="title" name="title" required>
    </div>
    <div class="form-group">
      <label for="content">Content:</label>
      <textarea id="content" name="content" rows="4" required></textarea>
    </div>
    <button type="submit">Create Comment</button>
  </form>
  </div>
</div>

