<h1 class="title">Your Dashboard</h1>
<div class="container">
  {{#if hasPost}}
  {{#each posts}}
  <div class="post" data-id="{{id}}">
    <a href="/update-post/{{id}}">
    <h2>{{title}}</h2>
    </a>
    <div class="author-date">{{date}}</div>
  </div>
  {{/each}}
  {{/if}}
  <div class="footer">
    <a href="/new-post">+New Post</a>
  </div>
</div>

