<div></div>
<h1 class="title">Welcome to the Tech Blog</h1>
<div class="container">
  {{#each posts}} 
  <div class="post">
    <h2>{{this.title}}</h2>
    <div class="author-date">By {{this.name}} on {{this.date}}</div>
    <p>{{this.content}}</p>
  </div> 
  {{/each}}
</div>