<div class="container">
  <div class="form-container signup-form">
    <h2>Signup</h2>
      <form class="form-group">
        <input id="name-signup" type="text" placeholder="Name" required>
        <input id="email-signup" type="email" placeholder="Email" required>
        <input id="password-signup" type="password" placeholder="Password" required>
        <button type="submit">Signup</button>
        <br>
        <a id="signin-link" href="/login">Log in instead</a>
    </form>
  </div>
</div>

<script src="./js/signup.js"></script>