body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #ffffff;
}

h1, h2, p {
  margin: 0;
  padding: 0;
}

/* Navbar Styles */
.navbar {
  background-color: #4CAF50; /* Green */
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.navbar a {
  color: white;
  padding: 14px 20px;
  text-align: center;
  display: block;
}

/* Container Styles */
.container {
  width: 90%;
  margin: 20px auto;
}

/* Post Styles */
.post {
  background-color: #f9bb5d; /* Orange */
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.post h2 {
  color: #2e8531; /* Green */
}

.post .author-date {
  font-size: 0.9em;
  color: #929292;
  margin-bottom: 10px;
}

/* Form Styles */
.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"], textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button, .new-post {
  background-color: #4CAF50; /* Green */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

/* Responsive Styles */
@media (max-width: 600px) {
  .navbar a {
    padding: 10px;
    font-size: 14px;
  }

  .post, .form-group {
    padding: 10px;
  }

  .container {
    width: 100%;
    margin: 10px auto;
  }
}